.rbc-month-row {
  @apply min-h-[75px];
  @apply border-t;
  @apply border-x;
}

:not(.rbc-month-row ~ .rbc-month-row).rbc-month-row {
  @apply rounded-t-md;
}
.rbc-month-row:last-of-type {
  @apply border-b;
  @apply rounded-b-md;
}

.rbc-month-view {
  @apply border-none;
}

.rbc-header {
  @apply text-sm pb-3;
  @apply font-normal;
  @apply border-b-0;
  @apply text-muted-foreground;
}

.rbc-header + .rbc-header {
  @apply border-l-0;
}

.rbc-button-link {
  @apply text-sm font-normal text-muted-foreground;
}

.rbc-row-content-scroll-container {
  @apply mb-1;
}
/* .rbc-date-cell {
  @apply p-2;
} */
